@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            @if (@ViewData["Posts"] != null)
            {
                @ViewData["Posts"]
            }
            else
            {
                <p>No posts to show!</p>
            }


        </div>
    </div>
</div>
